.about {
  &__divider {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__divider2 {
    margin-bottom: 20px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  background-color: transparent;
  color: #fff;
  padding: 0px;
  hr {
    width: 0;
    height: 1px;
    background: #ffffff;
    opacity: 0.1;
    margin-bottom: 20px;
  }
  ul {
    padding: 0;
    padding-left: 20px;
    list-style-type: disc;
  }
  li {
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
    margin-bottom: 20px;
    list-style-type: none;
    @media screen and (max-width: 650px) {
      margin-bottom: 9px;
    }
  }
  li::before {
    position: absolute;
    content: "";
    top: 10px;
    left: -20px;
    height: 8px;
    width: 8px;
    background-color: #fff;
    border-radius: 50%;
  }
  .tasks_hr1 {
    width: 0;
    height: 1px;
    background: #ffffff;
    opacity: 0.1;
    margin-bottom: 20px;
  }
  .tasks_hr2 {
    width: 0;
    height: 1px;
    background: #ffffff;
    opacity: 0.1;
    margin-bottom: 20px;
  }
  .tasks_hr3 {
    width: 0;
    height: 1px;
    background: #ffffff;
    opacity: 0.1;
    margin-bottom: 20px;
  }
  .desctop_hidden {
    display: none;
    @media (max-width: 650px) {
      display: block;
      font-size: 18px;
    }
  }
  .light {
    @media (max-width: 650px) {
      font-weight: lighter;
      font-size: 18px;
    }
  }
  .mobile_hidden {
    display: block;
    @media (max-width: 650px) {
      display: none;
    }
  }
}
@media (max-width: 650px) {
  .about {
    hr {
      margin-top: 20px;
    }
  }
  .toggle_description {
    padding-bottom: 30;
    height: auto;
    @media (max-width: 650px) {
      overflow: hidden;
      height: 0;
    }
  }
  .open {
    display: block;
  }
  .toggle-trigger {
    position: relative;
    margin-bottom: 30px !important;
    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 17px;
      height: 10px;
      background-image: url("/src/img/arrow_title.svg");
      background-repeat: no-repeat;
    }
  }
}
