.header {
  position: fixed;
  z-index: 99999;
  background-color: transparent;
  width: 100%;
  margin: 0 auto;
  transition: all 0.3s ease;
  &--fixed {
    background-color: #222;
  }
  .header__container {
    max-width: 1510px;
    margin: 0 auto;
    top: 0px;
    z-index: 400;
    padding: 0 30px;
    overflow: hidden;
    width: 100%;
    transition: all 0.3s ease;
    @media (max-width: 1250px) {
      padding: 0 20px;
    }
    @media (max-width: 650px) {
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
    }
  }
  .mobile_menu {
    display: none;
  }
  .header_wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    transition: all 0.3s ease;
    // background-color: #000;
    @media (max-width: 650px) {
      padding: 15px 0 20px 0px;
    }
  }
  .header_left {
    color: #fff;
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 100%;
    padding-top: 10px;
    @media (max-width: 900px) {
      padding-top: 0;
      img {
        width: 150px;
      }
    }

    @media (max-width: 750px) {
      img {
        width: 150px;
      }
    }
    @media (max-width: 650px) and (min-width: 0px) {
      img {
        width: 35px;
      }
    }
  }
  .header_right {
    color: #fff;
  }
  .header_right nav {
    margin-right: 20px;
    @media (max-width: 900px) {
      margin-right: 0px;
    }
  }
  .header_right nav a {
    color: #fff;
    margin-right: 40px;
    @media (max-width: 900px) {
      margin-right: 10px;
    }
    @media (max-width: 750px) {
      color: #fff;
      margin-right: 10px;
    }
  }
  .header_right {
    display: flex;
    padding-top: 26px;
    @media (max-width: 650px) and (min-width: 0px) {
      padding-top: 0px;
      .mobile_nav_logo {
        cursor: pointer;
        position: relative;
      }
      .menu_bg {
        position: absolute;
        left: 0;
        top: 0;
        background-color: red;
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
      .bar1,
      .bar2 {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
        position: relative;
        z-index: 2;
      }
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(0px, 6px);
      }
      .change .bar2 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(0px, -8px);
      }
    }
  }
  .contacts_tel {
    text-transform: uppercase;
  }
  .contacts {
    @media (max-width: 1250px) {
      padding-right: 0px;
    }
  }
  .contacts_tel {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #ffffff;
    opacity: 0.6;
    padding-left: 60px;
    cursor: pointer;
    @media (max-width: 900px) {
      padding-left: 10px;
    }
    @media (max-width: 750px) {
      padding-left: 10px;
    }
    a {
      color: #fff;
    }
  }
  .contacts_email {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 10px;
    padding-left: 60px;
    border-left: 1px solid rgba($color: #fff, $alpha: 0.3);
    transition: all 0.3s ease;
    @media (max-width: 900px) {
      padding-left: 10px;
    }
    a {
      color: #fff;
    }
  }
  .desctop_hidden {
    display: none;
  }
  @media (max-width: 650px) and (min-width: 0px) {
    .mobile_hidden {
      display: none;
    }
    .desctop_hidden {
      display: block;
    }
    .mobile_menu {
      height: 0px;
      width: 0px;
      position: relative;
      border: 2px solid red;
      a {
        display: block;
        margin-bottom: 30px;
        color: #fff;
        white-space: nowrap;
        transform: rotateX(90deg);
      }
      .svg_logo {
        fill: #fff !important;
        fill-opacity: 0;
        -webkit-transition: fill-opacity 1s;
        transition: fill-opacity 1s;
        stroke: #fff;
      }
      .contacts_email,
      .contacts_tel {
        padding: 0px;
        border: 0px;
      }
      .contacts {
        padding-top: 20px;
        width: 100vw;
        position: absolute;
        bottom: 170px;
        left: 0px;
      }
    }
  }
}
