.store {
  background-color: transparent;
  padding-top: 60px;
  padding-bottom: 20px;
  @media (max-width: 650px) {
    padding-bottom: 0px;
  }
  .container_store {
    position: relative;
    max-width: 1358px;
    margin: 0 auto;
    height: 240vh;
    @media (min-width: 650px) and (max-width: 1400px) {
      margin: 0 10px;
    }
    @media (max-width: 650px) {
      padding: 0px 10px;
    }
  }
  .store_wrapper {
    position: sticky;
    top: 90px;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    padding: 90px 70px;
    max-height: fit-content !important;
    height: fit-content !important;
    background: #333333;
    @media (min-width: 650px) and (max-width: 1400px) {
      margin: 0 10px;
    }
    @media (max-width: 650px) {
      top: 50px;
      display: block;
      padding: 10px 10px;
    }
  }
  .store_left {
    width: 48%;
    height: fit-content;
    background-color: #fff;
    overflow: hidden;
    @media (max-width: 650px) {
      width: 100%;
      margin-bottom: 10px;
      height: 350px;
    }
  }
  .store_right {
    width: 48%;
    height: fit-content;
    background-color: #fff;
    overflow: hidden;
    @media (max-width: 650px) {
      width: 100%;
      height: 350px;
    }
  }
  #bokeh4 {
    width: 100%;
  }
  #bokeh3 {
    width: 100%;
  }
}
